<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pet Shelter</title>
    {% load staticfiles %}
    <link rel='stylesheet' type='text/css' href='{% static "bootstrap-3.3.7-dist/css/bootstrap.css" %}'>
    <link rel='stylesheet' type='text/css' href='{% static "shelter\css\pets.css" %}'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src='{% static "bootstrap-3.3.7-dist/js/bootstrap.js" %}'></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div id='wrapper'>
      <div id='navbar' class='navbar navbar-default'>
        <div class="container-fluid">
          <div class="navbar-header">
            <button id='dropdown-icon' type="button" class="navbar-toggle" data-toggle="collapse" data-target="#links">
              <span class="glyphicon glyphicon-menu-hamburger"></span>
            </button>
            <a href='/' class='navbar-brand'>WCPS</a>
          </div>
          <div class="collapse navbar-collapse" id="links">
            <ul class="nav navbar-nav navbar-right">
              {% if request.session.id %}
                {% if request.session.admin %}
                  <li><a href="/users/{{request.session.id}}">Hi {{request.session.name}}(Admin)</a></li>
                  <li><a href="/users">User List</a></li>
                  <li><a href="/pets/admin">Approval List</a></li>
                {% else %}
                  <li><a href="/users/{{request.session.id}}">Hi {{request.session.name}}</a></li>
                {% endif %}
                <li><a href="/pets">Pet List</a></li>
                <li><a href="/logout">Sign Out</a></li>
              {% else %}
                <li><a href='/register'>Sign Up or Sign In</a></li>
                <li><a href="/pets">Pet List</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>

      <div id='page' class="container">
        {% if messages %}
            {% for message in messages %}
            <div class='row bg-{{ message.tags }}'>
              <h2 {% if message.tags %} class="{{ message.tags }} col-xs-12"{% endif %}>{{message}}</h2>
            </div>
            {% endfor %}
        {% endif %}
        <div class='row'>
          <div id='title' class='col-sm-7'><h2>User Submitted Pets Awaiting Approval</h2></div>
          <div id='actions' class='col-sm-5'>
            <a type='button' class='btn btn-primary btn-block' href='/pets/new'>Submit an Animal for Adoption</a>
            <a type='button' class='btn btn-primary btn-block'  href='/pets'>View All Unadopted Pets</a>
            <a type='button' class='btn btn-primary btn-block'  href='/pets/adopted'>View All Adopted Pets</a>
          </div>
        </div>
        <div class='row'>
          <div id='petlist' class='col-sm-10 col-md-11'>
            {% for animal in animals %}
              <div class='entry'>
                <div class='pethead'>
                  <div class="petname">
                    <div class='petpic'>
                      <a href='/pets/{{animal.id}}'>
                        {% if animal.pic_url %}
                        <img src='{{animal.pic_url}}' alt='{{animal.name}}-pic'>
                        {% else %}
                        <img src='{% static "shelter\img\default-pet.png" %}' alt='default-pet-pic'>
                        {% endif %}</a>
                      </div>
                    <h3>{{animal.name}}</h3>
                    <h4>{{animal.species}}</h4>
                    <h4>
                      {% if animal.user %}
                        Submitted by <a href='/users/{{animal.user.id}}'>{{animal.user.name}}</a>
                      {% else %}
                        Submitted by [User Deleted]
                      {% endif %}
                    </h4>
                    <div class='petoptions'>
                      <form action='/pets/approve/{{animal.id}}' method="post">
                        {% csrf_token %}
                        <input type=submit value='Approve' onclick='StopDoubleSubmit(this);'>
                      </form>
                      <form action='/pets/destroy/{{animal.id}}' method="post">
                        <input type='hidden' name='route' value='admin'>
                        {% csrf_token %}
                        <input type=submit value='Deny' onclick='StopDoubleSubmit(this);'>
                      </form>
                    </div>
                  </div>
                  <p>{{animal.info}}</p>
                </div>
              </div>
              <hr>
            {% empty %}
              <h3>No pets pending approval</h3>
            {% endfor %}
          </div>
        </div>
      </div>
      <div id='footer'></div>
    </div>
    <script src='{% static "shelter\js\script.js" %}'></script>
  </body>
</html>
