body{
	background: url("/static/shelter/texture/concrete-texture.png") repeat 0 0;

	/* CSS reset */
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 18px;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	display: block;
	text-align: center;
}
p, div {
	font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
	line-height: 1.563em;
}
#navbar{
	background-color:#B43531;
	color:white;
	font-size: 1em;
	border: 0;
	margin-bottom: 0;   /* Overide Bootstrap's deafult navbar margin */
}
#navbar a{
	color:white;
}
#navbar a:hover{
	background-color: #911815;
}
#links a:hover{
	background-color: #911815;
}
#dropdown-icon:hover,
#dropdown-icon:focus{
	background-color: #911815;
}
@media(max-width:768px){
	.navbar-brand{
		height: 61px;
	}
}
#page{
	background-color: white;
	margin: 0 auto;
	min-height: 90vh;
	text-align: center;
}
#users{
	overflow: auto;
	height: 500px;
	width: 100%;
}
#admins{
	overflow: auto;
	height: 500px;
	width: 100%;
}
#footer{
	height: 40px;
	background-color: #B43531;
}
@media(max-width:510px){
	#actions{
		width: 100%;
	}
	#title{
		width: 100%;
		text-align: center;
	}
}
